<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#393D49">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>XMatrix</title>
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/Xmui.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/xmatrix.ico">
  <style type="text/css">

  </style>
  <link rel="import" href="/nav-bar.html">
</head>

<body>
  <div id="nav-bar"></div>
  <script>
    document.getElementById('nav-bar').appendChild(document.querySelector('link[rel="import"]').import.querySelector('.navbar'));
  </script>
  <div class="container-fluid" style="padding-top: 1%;">
    <div class="col-sm-4 col-md-3 col-lg-2 col-lg-offset-2">
      <div class="userInfoBox">
        <img class="avatarBox" src="/pic/20028311.jpg">
        <p class="userName">
          <a>Zhenly</a>
        </p>
        <p class="userNameReal">ZhenlyChen
          <i class="fa fa-mars fa-fw blue-text" aria-hidden="true"></i>
          <i class="fa fa-venus fa-fw pink-text" aria-hidden="true" style="display: none;"></i>
        </p>
        <p class="userDetail">Hello, world</p>
        <hr class="hrStyle" />
        <p class="userDetail">
          <i class="fa fa-link fa-fw" aria-hidden="true"></i>
          <a href="https://blog.zhenly.cn" target="_blank"> blog.zhenly.cn</a>
        </p>
        <p class="userDetail">
          <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
          <a href="mailto:zhenlychen@foxmail.com" target="_blank"> zhenlychen@foxmail.com</a>
        </p>
        <p class="userDetail">
          <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> GuangZhou
        </p>
        <hr class="hrStyle" />
        <p class="smailTitle"><i class="fa fa-mortar-board fa-fw" aria-hidden="true"></i>成就</p>
        <span class="label label-info">连错十题</span>
        <hr class="hrStyle" />
        <button class="btn btn-default" href="javascript:;" onclick="userSetting()"> + 关注</button>
      </div>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-6">
      <p class="boxTitle"><i class="fa fa-database fa-fw" aria-hidden="true"></i> 用户信息</p>
      <hr class="hrStyle" />
      <div class="userData">
        <p>积分：1034 / 1500 <span class="label label-success labal-lv">Lv.3</span></p>
        <p>排名 ：<span class="label label-success"><a href="rank.html">No.5</a></span></p>
        <p>已通过题目：34 道</p>
      </div>
      <p class="boxTitle"><i class="fa fa-envelope-open-o fa-fw" aria-hidden="true"></i> 留言</p>
      <hr class="hrStyle" />
      <div id="myMail" class="mailBox">
        <div class="mailDiv">
          <i class="fa fa-user-o fa-fw" aria-hidden="true"></i>
          <div class="mailBox-right">
            <a href="javascript:;">  Zhenly:</a>
            <textarea id="writeMailBox" rows="3"></textarea>
            <p style="display: none;" class="smail-text">留言功能需要用户等级达到 <span class="label label-success labal-lv">Lv.2</span></p>
          </div>
          <div class="mailControl">
            <button class="btn btn-default">确认</button>
          </div>
        </div>
        <div v-for="(mail, index) in mails" class="mailBox">
          <div class="mailDiv">
            <i class="fa fa-user-o fa-fw" aria-hidden="true"></i>
            <div class="mailBox-right">
              <a :href="'/user/' + mail.from">{{mail.fromName}} </a> <span v-if="mail.title" class="label label-primary">{{mail.titleName}}</span> :
              <p class="mailContent">{{mail.content}}</p>
            </div>
            <div class="mailControlGuest">
              <span>{{new Date(mail.time).format('yyyy-MM-dd hh:mm:ss')}}</span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
  <script src="/js/xmatrix.js"></script>
  <script src="/layer/layer.js"></script>
  <script>
    let myEmail = new Vue({
      el: '#myMail',
      data: {
        mails: [{
          id: 10000,
          new: true,
          title: false,
          from: 'MegaShow',
          fromName: 'showshow',
          content: '批发秀秀，五毛一斤！+qq 23333333',
          time: new Date(),
        }, {
          id: 10001,
          new: false,
          title: true,
          titleName: '管理员',
          from: 'zhenlychen',
          fromName: 'zhenly',
          content: '欢迎使用留言功能, 右下角操作回复留言或者删除该留言。',
          time: new Date(),
        }],
      }
    });

    $(function() {
      loadBar(); //加载标题栏
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

</body>

</html>