# binary file
*.exe
*.out

# test txt file
/test/*.txt
/test/*.json

# .NET Core RESTORE & Build File
/judge/bin/
/judge/obj/
web/updata.log
server/key.json
server/mysql.json
server/run.log
server/config/mysql.json
server/package.json
server/config/key.json
server/node_modules/
server/file/
server/judge/

# config file
/.vscode/
/judge/config/*
server/config/
web/layui/
web2.0/node_modules/
web2.0/src/style/font-awesome/
web2.0/src/lib/layer/
web/layer/
web2.0/dist/
