<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#393D49">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>XMatrix</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/Xmui.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="https://cdn.bootcss.com/codemirror/5.25.0/codemirror.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/codemirror/5.25.0/addon/hint/show-hint.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/codemirror/5.25.0/theme/blackboard.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/codemirror/5.29.0/theme/colorforth.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/codemirror/5.29.0/theme/yeti.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/codemirror/5.29.0/theme/solarized.min.css" rel="stylesheet">

  <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">

  <link rel="shortcut icon" href="/xmatrix.ico">
  <link rel="import" href="/nav-bar.html">
</head>

<body>
  <div id="nav-bar"></div>
  <script>
    document.getElementById('nav-bar').appendChild(document.querySelector('link[rel="import"]').import.querySelector('.navbar'));
  </script>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-lg-8 col-lg-offset-2">
        <ul class="nav nav-tabs nav-category" id="myTab" role="tablist">
          <li class="active"><a href="#home" data-toggle="tab" aria-controls="home" role="tab">问题描述</a></li>
          <li><a href="#gradePage" aria-controls="gradePage" role="tab" data-toggle="tab">成绩报告</a></li>
          <li><a href="#judgePage" aria-controls="judgePage" role="tab" data-toggle="tab">提交记录</a></li>
          <li><a href="#rankPage" aria-controls="rankPage" role="tab" data-toggle="tab">排名</a></li>
        </ul>
        <br>
        <!-- Tab panes -->
        <div class="tab-content tabs">
          <div role="tabpanel" class="tab-pane active fade in" id="home">
            <div class="panel panel-default">
              <div class="panel-body" style="padding-left:30px;padding-top:25px;font-size: 25px"><span class="glyphicon glyphicon-tasks" aria-hidden="true"> </span><strong> Hello, world</strong></div>
              <div class="panel-body" style="padding:10px;">
                <div class="col-xs-9">
                  <p>时间限制 : 1000 ms</p>
                  <p>内存限制 : 10240 KB</p>
                </div>
                <div class="col-xs-3 hidden-xs problem-info">
                  <p>作者: <a class="" href="/user/megashow"> MegaShow</a>
                  </p>
                  <p>邮箱: <a href="mailto:megashow@xmatrix.studio"> megashow@xmatrix.studio</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <div id="mymarkdown" class="markdown-body" style="padding:15px;">
                </div>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade in" id="gradePage">
            <div class="panel panel-default col-md-3">
              <div class="panel-body">
                <p style="padding: 5px;text-align: left;font-size:20px;"> 你的成绩：</p>
                <p style="text-align: center;font-size:55px;color:#666">
                  50
                </p>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" :style="width:50%"></div>
                </div>
              </div>
            </div>
            <div class="panel panel-default col-md-8 col-md-offset-1">
              <div class="panel-body" style="text-align:left;">
                <p style="padding: 6px;font-size:18px;"> 最后提交：2017-4-14 12:11:18</p>
                <p style="padding: 6px;font-size:18px;"> 最高分数：77</p>
                <p style="padding: 6px;font-size:18px;"> 提交次数：3</p>
                <p style="padding: 6px;font-size:18px;"> 运行时间：455 ms</p>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                <p style="font-size:20px;">
                  标准测试 77/100
                </p>
                <div>
                  <pre>输入：
                    <code class="lang-javascript" style="border-radius: 4px;">
  1 2 3 4 5
  2 3 4 5
  6 7
                    </code>
                  </pre>
                </div>
                <div>
                  <pre>标准输出：
                      <code class="lang-javascript" style="border-radius: 4px;">
    1 2 3 4 5
    2 3 4 5
    6 7
                      </code>
                    </pre>
                </div>
                <div>你的输出：
                  <pre>
                      <code class="lang-javascript" style="border-radius: 4px;">
    1 2 3 4 5
    2 3 4 5
    6 7
                      </code>
                    </pre>
                </div>
              </div>
              <div v-html="grades.helpText" class="panel-footer">
                这是什么鬼
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade in" id="rankPage">
            <div class="panel panel-success">
              <div class="panel-body" style="padding: 0px;">
                <table class="table table-hover table-striped">
                  <tr style="font-size:17px;background-color: #ddd">
                    <th>No</th>
                    <th>昵称</th>
                    <th>运行时间</th>
                    <th>分数</th>
                  </tr>
                  <tr v-for="(grade, index) in grade">
                    <td>{{index}}</td>
                    <td>{{name[index]}}</td>
                    <td>{{runTime[index]}} ms</td>
                    <td>{{grade}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade in" id="judgePage">
            <div class="panel panel-success">
              <div class="panel-body" style="padding: 0px;">
                <table class="table table-hover table-striped">
                  <tr style="font-size:17px;background-color: #ddd">
                    <th>提交时间</th>
                    <th>状态</th>
                    <th>运行时间</th>
                    <th>分数</th>
                  </tr>
                  <tr v-for="(grade, index) in grade">
                    <td>2017-1-12 12:11:22</td>
                    <td>Success</td>
                    <td>345 ms</td>
                    <td>77</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-header">
            <form class="form-inline">
              <select class="form-control left-code-select" onchange="selectMode()">
                    <option value="text/x-c++src">C++</option>
                    <option value="text/x-csrc">C</option>
                    <option value="text/x-java">Java</option>
                    <option value="text/javascript">JavaScript</option>
                    <option value="text/x-sh">Shell</option>
              </select>
              <select class="form-control right-code-select" onchange="selectTheme()">
                  <option>blackboard</option>
                  <option>colorforth</option>
                  <option>solarized dark</option>
                  <option>solarized light</option>
                  <option value="yeti">yeti</option>
                  <option value="default">default</option>
              </select>
            </form>
          </div>

          <div class="panel-body code-panel">
            <div class="form-group">
              <textarea id="codetext" name="codetext" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group" style="text-align: right;">
          <a class="btn btn-success" onclick="judge()">提交</a>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.bootcss.com/codemirror/5.25.0/codemirror.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.25.0/addon/edit/closebrackets.min.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.25.0/addon/edit/closetag.min.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.25.0/addon/edit/continuelist.min.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.25.0/addon/edit/matchbrackets.min.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.25.0/addon/edit/matchtags.min.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.25.0/addon/edit/trailingspace.min.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.25.0/addon/hint/javascript-hint.min.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.25.0/addon/hint/show-hint.min.js"></script>

  <script src="https://cdn.bootcss.com/codemirror/5.25.0/mode/clike/clike.min.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.29.0/mode/javascript/javascript.min.js"></script>
  <script src="https://cdn.bootcss.com/codemirror/5.29.0/mode/shell/shell.min.js"></script>

  <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>

  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/showdown/1.6.4/showdown.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.3.3/vue.js"></script>
  <script src="/js/xmatrix.js"></script>
  <script>
    let globalEditer;
    $(function() {
      codeBoxInit();
      loadBar();
      hljs.initHighlighting();
    }); //处理标题栏
    $.get("/problems/10000/index.md", function(result) {
      var converter = new showdown.Converter();
      $("#mymarkdown").html(converter.makeHtml(result));
    }); //获取md文件
    function codeBoxInit() {
      var textarea = document.getElementById('codetext');
      var editor = CodeMirror.fromTextArea(textarea, {
        autofocus: true,
        content: textarea.value,
        mode: 'text/x-c++src',
        theme: 'blackboard',
        matchBrackets: true,
        autoCloseBrackets: true,
        extraKeys: {
          'Ctrl': 'autocomplete'
        },
        lineNumbers: true,
        inputStyle: 'contenteditable',
      });
      editor.on('change', function(Editor, changes) {
        $('#codetext').text(editor.getValue());
      });
      editor.setSize('auto', '500px');
      globalEditer = editor;
    } //代码编辑框


    function selectTheme() {
      var theme = $('.right-code-select').eq(0).val();
      globalEditer.setOption("theme", theme);
    }

    function selectMode() {
      globalEditer.setOption("mode", $('.left-code-select').eq(0).val())
    }
  </script>
</body>

</html>