<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#393D49">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>XMatrix</title>
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/Xmui.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/xmatrix.ico">
  <link rel="import" href="/nav-bar.html">
</head>

<body>
  <div id="nav-bar"></div>
  <script>
    document.getElementById('nav-bar').appendChild(document.querySelector('link[rel="import"]').import.querySelector('.navbar'));
    document.getElementById('t-home').className += 'active';
  </script>
  <div class="container-fluid" id="myPage">
    <div class="col-sm-4 col-md-3 col-lg-2 col-lg-offset-2">
      <div class="userInfoBox">
        <img class="avatarBox" src="/pic/20028311.jpg">
        <p class="userName">
          <a href="javascript:;" data-toggle="tooltip" data-placement="right" title="修改昵称" onclick="changeName()">Zhenly</a>
        </p>
        <p class="userNameReal">ZhenlyChen
          <i class="fa fa-mars fa-fw blue-text" aria-hidden="true"></i>
          <i class="fa fa-venus fa-fw pink-text" aria-hidden="true" style="display: none;"></i>
        </p>
        <p class="userDetail">Hello, world</p>
        <hr class="hrStyle" />
        <p class="userDetail">
          <i class="fa fa-link fa-fw" aria-hidden="true"></i>
          <a href="https://blog.zhenly.cn" target="_blank"> blog.zhenly.cn</a>
        </p>
        <p class="userDetail">
          <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
          <a href="mailto:zhenlychen@foxmail.com" target="_blank"> zhenlychen@foxmail.com</a>
        </p>
        <p class="userDetail">
          <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> GuangZhou
        </p>
        <hr class="hrStyle" />
        <p class="smailTitle"><i class="fa fa-users fa-fw" aria-hidden="true"></i>关注好友列表</p>
        <div class="sild-bar">
          <p><a href="/user/megashow/">MegaShow</a> <a href="javascript:;" class="label-right" onclick="deleteFriend()"><i class="fa fa-close fa-fw" aria-hidden="true"></i></a></p>
          <p><a href="/user/zhenlychen/">Zhenly</a> <a href="javascript:;" class="label-right" onclick="deleteFriend()"><i class="fa fa-close fa-fw" aria-hidden="true"></i></a></p>
        </div>
        <hr class="hrStyle" />
        <p class="smailTitle"><i class="fa fa-mortar-board fa-fw" aria-hidden="true"></i>成就</p>
        <p class="titleBox"><span class="label label-info">连错十题</span></p>
        <hr class="hrStyle" />

        <p class="zhenlyBtn">
          <a href="javascript:;" onclick="userSetting()">个人设置</a>
        </p>
      </div>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-6">
      <fieldset>
        <legend><i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i> Welcome to XMatrix OJ</legend>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <span class="label label-success">公告</span> 系统升级中
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                XMatrix Online Judging System 的 Ragdoll版本迭代开发正在进行中，评测功能暂时关闭。
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <span class="label label-danger">爆料</span> 部分新版本特性
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p>1. 评测支持多种语言</p>
                <p>2. 用户等级积分制度</p>
                <p>3. 用户可以保存多次提交</p>
                <p>4. 全新的用户中心</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <span class="label label-warning">广告</span> 前排出售秀秀
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                价格好商量
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend><i class="fa fa-database fa-fw" aria-hidden="true"></i> 用户信息</legend>
        <div class="userData">
          <p>积分：1034 / 1500 <span class="label label-success labal-lv">Lv.3</span></p>
          <p>排名 ：<span class="label label-success"><a href="rank.html">No.5</a></span></p>
          <p>已通过题目：34 道</p>
        </div>
      </fieldset>
      <fieldset>
        <legend><i class="fa fa-envelope-open-o fa-fw" aria-hidden="true"></i> 留言</legend>
        <div id="myMail" class="mailBox">
          <div class="mailDiv">
            <i class="fa fa-user-o fa-fw" aria-hidden="true"></i>
            <div class="mailBox-right">
              <a href="javascript:;">  Zhenly:</a>
              <textarea id="writeMailBox" rows="3"></textarea>
              <p style="display: none;" class="smail-text">留言功能需要用户等级达到 <span class="label label-success labal-lv">Lv.2</span></p>
            </div>
            <div class="mailControl">
              <button class="btn btn-default">确认</button>
            </div>
          </div>

          <div v-for="(mail, index) in mails" class="mailBox">
            <div class="media">
              <div class="media-left">
                <i class="fa fa-user-o fa-fw" aria-hidden="true"></i>
              </div>
              <div class="media-body">
                <a title="标记为已读" v-if="mail.new" href="javascript:;" class="label-right" onclick="readMail()"><span class="label label-success">new</span></a>
                <a class="media-heading" :href="'/user/' + mail.from">{{mail.fromName}} <span v-if="mail.title" class="label label-primary">{{mail.titleName}}</span></a>
                <p class="mailContent">{{mail.content}}</p>
                <div class="mailControl">
                  <span>{{new Date(mail.time).format('yyyy-MM-dd hh:mm:ss')}}</span>
                  <a href="javascript:;" title="回复"><i class="fa fa-reply fa-fw" aria-hidden="true"></i></a> |
                  <a href="javascript:;" title="删除"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
  <script src="/js/xmatrix.js"></script>
  <script src="/layer/layer.js"></script>
  <script>
    let myEmail = new Vue({
      el: '#myMail',
      data: {
        mails: [{
          id: 10000,
          new: true,
          title: false,
          from: 'MegaShow',
          fromName: 'showshow',
          content: '批发秀秀，五毛一斤！+qq 23333333',
          time: new Date(),
        }, {
          id: 10001,
          new: false,
          title: true,
          titleName: '管理员',
          from: 'zhenlychen',
          fromName: 'zhenly',
          content: '欢迎使用留言功能, 右下角操作回复留言或者删除该留言。',
          time: new Date(),
        }],
      }
    });

    $(function() {
      loadBar(); //加载标题栏
      $('[data-toggle="tooltip"]').tooltip();
    });

    function changeName() {
      layer.prompt({
        title: '请输入你的新昵称',
        maxlength: 10,
      }, function(text, index) {
        layer.close(index);
        layer.confirm('是否更改昵称为 <b>' + text + '</b><br>剩余修改次数：1', {
          btn: ['确定', '取消'] //按钮
        }, function() {
          layer.msg('你的新昵称为：' + text);
        });
      });
    }

    function readMail() {
      layer.msg('标记为已读');
    }

    function deleteFriend() {
      layer.confirm('是否取消关注 <b>MegaShow</b>', {
        btn: ['确定', '取消'] //按钮
      }, function() {
        layer.msg('取消关注成功！');
      });
    }

    function userSetting() {
      layer.open({
        type: 2,
        title: '用户设置',
        shadeClose: true,
        shade: 0.8,
        area: ['400px', '500px'],
        content: '/setting.html'
      });
    }
  </script>

</body>

</html>