<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#393D49">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>XMatrix</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/Xmui.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="xmatrix.ico">
  <link rel="import" href="nav-bar.html">
</head>

<body>
  <div id="nav-bar"></div>
  <script>
    document.getElementById('nav-bar').appendChild(document.querySelector('link[rel="import"]').import.querySelector('.navbar'));
    document.getElementById('t-rank').className += 'active';
  </script>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-success">
          <div class="panel-body" style="font-size: 24px;">
            <p>全站通过题目数：<span style="font-weight: normal;color: green;">3213</span></p>
            <p>全站总测评数：<span style="font-weight: normal;color: red;">324232</span></p>
          </div>
          <div class="panel-footer">
            <p>本页数据每两小时更新一次</p>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-body" style="padding: 0px;">
            <table class="table table-hover table-striped">
              <tr style="font-size:17px;background-color: #ddd">
                <th>No</th>
                <th>昵称</th>
                <th>积分</th>
                <th>通过题目</th>
              </tr>
              <tr v-for="(grade, index) in grade">
                <td>1</td>
                <td><a href="/user/megashow" target="_blank">MegaShow</a></td>
                <td>1234</td>
                <td>44</td>
              </tr>
              <tr v-for="(grade, index) in grade">
                <td>2</td>
                <td style="color: green;">zhenlychen</td>
                <td>1011</td>
                <td>33</td>
              </tr>
              <tr v-for="(grade, index) in grade">
                <td>3</td>
                <td><a href="/user/megashow" target="_blank">xxx</a></td>
                <td>99</td>
                <td>3</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/xmatrix.js"></script>

<script type="text/javascript">
  $(function() {
    loadBar(); //加载标题栏
  });
</script>

</html>